.catalog {
  color: $color-alice-blue;

  & h2 {
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: $color-tangaroa;
    text-align: center;
  }

  & ul {
    @include list-style-none;

    @include desktop-only {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      padding-left: 15px;
      padding-right: 15px;
    }

    @include from-tablet-to-max {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 30px;
    }

    @include mobile-only {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  & li {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  & li:hover article {
    z-index: 1;
  }

  & figure {
    position: relative;
    margin: 0;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  & img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  & figcaption {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    max-width: 260px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-alice-blue;
  }

  & article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 25px 35px 25px;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: $color-tangaroa;
    color: $color-alice-blue;
    box-sizing: border-box;
    height: 100%;

    @include from-tablet-to-desktop {
      padding: 35px;
    }
  }

  & article:focus-within {
    z-index: 1;
  }

  & h3 {
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  & dl {
    margin: 0 0 4px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  & dt {
    margin-bottom: 1px;
  }

  & dd {
    margin: 0 0 11px 0;
    color: $color-quartz;
  }

  & a {
    display: block;
    width: 100%;
    padding: 9.5px 5px;
    color: $color-tangaroa;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    background-color: $color-alice-blue;
    z-index: -1;
  }
}
