.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  @include max-tablet {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }

  @include max-mobile {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  &--current-page {
    pointer-events: none;
  }

  &:not(&--current-page) {
    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        background-color: $color-alice-blue;
        box-shadow: 0 0 0 2px $color-tangaroa;
      }

      &:hover svg,
      &:focus svg {
        fill: $color-tangaroa;
      }
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.logo svg {
  fill: $color-alice-blue;

  @include desktop-only {
    width: 70px;
    height: 38px;
  }

  @include max-tablet {
    width: 38px;
    height: 20px;
  }

  @include max-mobile {
    width: 42px;
    height: 22px;
  }
}
