.main-nav {
  &--opened .main-nav__wrapper {
    @include max-mobile {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 89.1%;
      padding: 16px 6px 16px 15px;
      background-color: $color-alice-blue;
      z-index: 1;
    }
  }

  &--nojs .main-nav__wrapper {
    @include max-mobile {
      position: relative;
      background-color: $color-alice-blue;
    }
  }

  &--opened .main-nav__link,
  &--nojs .main-nav__link {
    @include max-mobile {
      margin-bottom: 25px;
    }
  }

  &--opened .main-nav__icon,
  &--nojs .main-nav__icon {
    @include max-mobile {
      fill: $color-tangaroa;
    }
  }

  &--closed .main-nav__list {
    @include max-mobile {
      display: none;
    }
  }

  &--opened .main-nav__list,
  &--nojs .main-nav__list {
    @include max-mobile {
      display: flex;
    }
  }

  &--opened .main-nav__toggle {
    right: 6px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 14px;
      right: 7.5px;
      width: 17px;
      height: 2px;
      background-color: $color-tangaroa;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        box-shadow: 0 0 0 2px $color-tangaroa;
      }
    }

    &:active {
      opacity: 0.7;
    }
  }

  &--closed .main-nav__toggle {
    right: 6px;

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 24px;
      height: 2px;
      background-color: $color-alice-blue;
      box-shadow: 0 6px 0 0 $color-alice-blue, 0 12px 0 0 $color-alice-blue;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        background-color: $color-alice-blue;
        box-shadow: 0 0 0 2px $color-tangaroa;
      }

      &:hover::after,
      &:focus::after {
        background-color: $color-tangaroa;
        box-shadow: 0 6px 0 0 $color-tangaroa, 0 12px 0 0 $color-tangaroa;
      }
    }

    &:active {
      opacity: 0.7;
    }
  }

  &--nojs .main-nav__toggle {
    display: none;
  }
}

.main-nav__wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1366px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  @include desktop-only {
    left: 50%;
    transform: translateX(-50%);
    padding: 31px 99px 31px 103px;
  }

  @include max-tablet {
    padding: 17px 40px 17px 45px;
  }

  @include max-mobile {
    padding: 16px 6px 16px 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.main-nav__list {
  @include max-tablet {
    font-size: 14px;
    line-height: 17px;
  }

  @include max-mobile {
    display: flex;
    max-height: 253px;
    overflow-y: auto;
    padding: 2px 6px 2px 5px;
    font-size: 18px;
    line-height: 22px;
  }
}

.main-nav__list li {
  &:not(:last-child) {
    margin-right: 23px;

    @include max-tablet {
      margin-right: 14px;
    }

    @include max-mobile {
      margin-right: 0;
    }
  }
}

.main-nav__list a {
  padding: 14px 5px;

  @include max-mobile {
    color: $color-tangaroa;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      background-color: $color-alice-blue;
      color: $color-tangaroa;
      box-shadow: 0 0 0 2px $color-tangaroa;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.main-nav__toggle {
  display: none;
  width: 42px;
  height: 30px;
  padding: 0;
  margin-left: auto;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right center;

  @include max-mobile {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
