.mini-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;

  @include desktop-only {
    padding-left: 103px;
    padding-right: 103px;
  }

  @include tablet-only {
    padding-left: 45px;
    padding-right: 45px;
  }

  @include mobile-only {
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
