.welcome {
  color: $color-alice-blue;
  text-shadow: $text-shadow;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: $color-tangaroa;

  @include desktop-only {
    background-image: url("../img/welcome-bg-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/welcome-bg-desktop@2x.jpg");
    }
  }

  @include max-tablet {
    background-image: url("../img/welcome-bg-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/welcome-bg-tablet@2x.jpg");
    }
  }

  @include max-mobile {
    background-image: url("../img/welcome-bg-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/welcome-bg-mobile@2x.jpg");
    }
  }
}

.welcome h1 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;

  @include desktop-only {
    font-size: 54px;
    line-height: 66px;
  }

  @include max-tablet {
    font-size: 50px;
    line-height: 61px;
  }

  @include max-mobile {
    font-size: 36px;
    line-height: 45px;
  }
}

.welcome br {
  display: none;

  @include max-mobile {
    display: block;
  }
}

.welcome p {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;

  @include desktop-only {
    font-size: 20px;
    line-height: 24px;
  }

  @include max-tablet {
    font-size: 18px;
    line-height: 22px;
  }

  @include max-mobile {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
  }
}

.welcome__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
